.onoffswitch {
    position: relative; width: 56px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 29px; padding: 0; line-height: 29px;
    border: 2px solid #999999; border-radius: 29px;
    background-color: #EEEEEE;
    transition: background-color 0.1s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 29px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border: 2px solid #999999; border-radius: 29px;
    transition: all 0.1s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #46D65A;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #46D65A;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}
/*
@media all and (orientation: portrait){
    .onoffswitch {
    position: relative; width: 56px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 29px; padding: 0; line-height: 29px;
    border: 2px solid #999999; border-radius: 29px;
    background-color: #EEEEEE;
    transition: background-color 0.1s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 29px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border: 2px solid #999999; border-radius: 29px;
    transition: all 0.1s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #46D65A;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #46D65A;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}
}
*/